

/*package page start*/

#package-hero-sec{
    height: 70vh;
    background-color: rgb(11, 11, 54);
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

#package-hero-sec .package-hero h1{
    text-align: center;
    color: white;
 
    font-size: 40px;
    text-transform: uppercase;

}
.package-hero{
    
    display: grid;
   
}